# Virtual environment
.venv/

# Utility scripts
list_files.py

# Output data (keep folders but ignore all files inside)
output/top_rows/*
!output/top_rows/

output/image_patch_embeddings.pt
output/metadata.json
output/merged.pdf

# Raw documents (keep the folder, ignore PDFs)
documents/*
!documents/
